.Certificates {
  margin: 0px;
  padding-top: 64px;
}

.title-certificates {
  color: var(--text-color2);
  text-align: right;
}

.title-certificates h2 {
  margin-bottom: 24px;
}

.title-certificates p {
  text-justify: auto;
}

.div-certificates {
  color: var(--text-color2);
  background: rgba(98, 142, 224, 0.1);
  border: 1px solid #628ee0;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  margin: 24px 0 !important;
}

.img-certificates {
  width: 100%;
}

.p-certificates {
  text-align: right;
  padding-top: 15px;
}

@media only screen and (max-width: 1300px) {
  .p-certificates h5 {
    font-size: 15px;
  }

  .p-certificates p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .div-certificates {
    padding: 16px 0px;
    margin: 16px 0 !important;
  }

  .title-certificates p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  .p-certificates h5 {
    font-size: 20px;
  }

  .p-certificates p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .div-certificates {
    padding: 8px 0px;
    margin: 16px 0 !important;
  }

  .title-certificates p {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .p-certificates h5 {
    font-size: 18px;
  }

  .p-certificates p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 415px) {
  .p-certificates h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 380px) {
  .p-certificates h5 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 322px) {
  .div-certificates {
    padding: 8px 0px;
    margin: 16px 0 !important;
  }

  .title-certificates p {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .p-certificates h5 {
    font-size: 10px;
  }

  .p-certificates p {
    font-size: 12px;
  }
}
