.product {
    margin: 104px 0 0 0;
}



.title {
    margin: 0 0 40px 0;
    width: 100%;
}


.div-Product {
    padding: 16px 24px;
    cursor: pointer;
}

.img-product {
    width: 100%;
}

a {
    text-decoration: none !important;
}

.cption {
    background: rgba(16, 27, 46, 0.3);
    backdrop-filter: blur(8.66667px);
    border-radius: 0px 0px 13px 13px;
    color: white;
    text-align: left;
}

.cption h4 {
    margin-top: 24px;
}

.cption p {
    font-size: 12px;
    color: rgb(212, 212, 212);
}


@media only screen and (max-width: 500px) {
    .product {
        padding: 32px 0;
    }
}