.product {
  margin: 0;
  padding-top: 104px;
}

.title {
  margin: 0 0 40px 0;
  width: 100%;
}

.div-Product {
  margin: 16px 8px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
  transition: all 0.3s;
}

.div-Product:hover {
  transform: scale(0.94, 0.94);
}

.img-product {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

a {
  text-decoration: none !important;
}

.cption {
  background: rgba(16, 27, 46, 0.3);
  backdrop-filter: blur(8.66667px);
  border-radius: 0px 0px 16px 16px;
  color: var(--text-color);
  text-align: left;
  padding: 24px 32px;
}

.cption p {
  font-size: 13px;
  color: var(--text-color2);
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .product {
    padding: 32px 0;
  }

  .cption p {
    font-size: 12px;
  }
}
