.vector1 {
    position: absolute;
    top: -34px;
    right: -20px;
    z-index: -1;
    width: 1053px;
    height: 594px;
}

.vector2 {
    position: absolute;
    opacity: 0.7;
    top: 500px;
    left: -20px;
    z-index: -1;
    width: 567px;
    height: 1084px;
}


@media only screen and (max-width: 1200px) {

    .vector1 {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: -1;
        width: 350px;
        height: 230px;
    }

    .vector2 {
        position: absolute;
        opacity: 0.7;
        top: 700px;
        left: -20px;
        z-index: -1;
        width: 210px;
        height: 351px;
    }

}