.navbar-desktop {
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 18px -3px rgba(117, 98, 224, 0.23);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.navbar-desktop .navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-desktop .logo {
    width: 120px;
    height: 32px;
}

.navbar-nav {
    margin: 0 32px 0 0;
    padding: 0;
}

.navbar-nav {
    margin: 0 32px 0 0;
}

.nav-item {
    margin: 0 0 0 8px;
    transition: all 0.5s;

}

.nav-link {
    color: var(--F9F9F9);
    font-size: 16px;
    font-family: "IRANSansWeb_Light";
    color: var(--text-color2);
    text-align: right;
}

.nav-link svg {
    width: 18px;
    height: 18px;
    margin: 0 0 0 4px;
}

.btn-mood {
    width: 55px;
    height: 24px;
}

.btn-mood button {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(234, 234, 234, 0.1);
    box-shadow: inset 0px 0px 2px 1px var(--Purple);
    border-radius: 16px;
    border: none;
    outline: none;
}

.btn-mood button span {
    position: absolute;
    top: 0;
    right: -5px;
    width: 24px;
    height: 24px;
    background-color: var(--Purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mood button span svg {
    width: 16px;
    height: 16px;
    color: var(--F9F9F9);
    transform: rotate(-100deg);
}