* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "IRANSansWeb";
  src: url("./font/IRANSansWeb.ttf");
}

@font-face {
  font-family: "IRANSansWeb_Bold";
  src: url("./font/IRANSansWeb_Bold.ttf");
}

@font-face {
  font-family: "IRANSansWeb_Black";
  src: url("./font/IRANSansWeb_Black.ttf");
}

@font-face {
  font-family: "IRANSansWeb_Light";
  src: url("./font/IRANSansWeb_Light.ttf");
}

@font-face {
  font-family: "IRANSansWeb_Medium";
  src: url("./font/IRANSansWeb_Medium.ttf");
}

@font-face {
  font-family: "IRANSansWeb_UltraLight";
  src: url("./font/IRANSansWeb_UltraLight.ttf");
}

:root {
  /* ------main colors----- */
  --Black: #070707;
  --Blue: #628ee0;
  --Purple: #7562e0;
  --White: #ffffff;
  --background-body: #030e21;
  --text-color: #f9f9f9;
  --text-color2: #ededed;

  /* ------Other colors----- */
  --F9F9F9: #f9f9f9;
  --CBCBCB: #cbcbcb;
  --EDEDED: #ededed;
  --757575: #757575;

  --Purple-01: #eeebfb;
  --Purple-02: #9889e8;
  --Purple-03: #5740d9;
  --Purple-04: #201465;

  --Blue-01: #ebf1fb;
  --Blue-01: #89aae8;
  --Blue-01: #4076d9;
  --Blue-01: #143065;
}

.light-Theme {
  --background-body: #fefeff;
  --text-color: #070707;
  --text-color2: #333333;
}

body {
  font-family: "IRANSansWeb";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 32px 0;
  background-color: var(--background-body);
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 9px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 8px;
}

h1 {
  font-size: 44px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
  margin: 0 0 20px 0;
}

h2 {
  font-size: 40px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
}

h3 {
  font-size: 32px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
}

h4 {
  font-size: 24px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
}

h5 {
  font-size: 20px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
}

h6 {
  font-size: 16px;
  font-family: "IRANSansWeb_Bold";
  color: var(--text-color);
}

.text-body-xl {
  font-size: 20px;
  font-family: "IRANSansWeb";
  color: var(--text-color2);
}

.text-body-lg {
  font-size: 18px;
  font-family: "IRANSansWeb_Light";
  color: var(--text-color2);
}

.text-body-md {
  font-size: 16px;
  font-family: "IRANSansWeb";
  color: var(--text-color2);
}

.text-body-sm {
  font-size: 14px;
  font-family: "IRANSansWeb_Light";
  color: var(--text-color2);
}

.text-body-xs {
  font-size: 14px;
  font-family: "IRANSansWeb_Light";
  color: var(--text-color2);
}

.text-caption-lg {
  font-size: 14px;
  font-family: "IRANSansWeb_Medium";
  color: var(--text-color2);
}

.text-caption-md {
  font-size: 12px;
  font-family: "IRANSansWeb_Medium";
  color: var(--text-color2);
}

.text-button-lg {
  font-size: 16px;
  font-family: "IRANSansWeb";
  color: var(--text-color2);
}

.text-button-sm {
  font-size: 14px;
  font-family: "IRANSansWeb_Medium";
  color: var(--text-color2);
}

.text-overLine-lg {
  font-size: 14px;
  font-family: "IRANSansWeb_Medium";
  color: var(--text-color2);
}

.text-button-md {
  font-size: 12px;
  font-family: "IRANSansWeb_Medium";
  color: var(--text-color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  .text-body-lg {
    font-size: 14px;
  }
}
