/* footer */

.scrollNone {
  overflow-y: hidden;
}

footer {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 18px -3px rgba(117, 98, 224, 0.23);
  border-radius: 16px;
  padding: 24px 0;
  margin-bottom: 32px;
}

.Social {
  color: var(--text-color2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Social svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  footer {
    margin-bottom: 24px;
    padding: 24px;
  }

  .Social {
    font-size: 14px;
  }
  .Social svg {
    width: 25px;
    margin: 0 10px 0px 0;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    margin-bottom: 24px;
    padding: 16px 0;
  }

  .Social {
    margin-bottom: 20px;
  }

  .Social svg {
    width: 25px;
    margin: 0 10px 0px 0;
  }
}

.modalll {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalll.show {
  display: flex;
}

.div-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0;
  z-index: 21;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  background-color: rgba(0, 0, 0, 0.555);
  backdrop-filter: blur(4px);
  transition: all 0.3s;
}

.content-modal {
  background-color: var(--background-body);
  color: var(--background-body);
  padding: 16px 24px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  width: 30%;
  z-index: 22;
}

.modal-header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  color: var(--text-color);
}

.modal-header button {
  border: none;
  color: var(--text-color);
  padding: 2px 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.modal-header button svg {
  width: 18px;
  height: 18px;
}

.modal-body {
  color: var(--background-body);
  padding: 24px 0 0 0;
}

.Personal-link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 7px 15px -9px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  margin: 0 0 16px 0;
}

.Personal-link:hover {
  border: 1px solid var(--text-color);
  transition: all 0.3s;
}

.Personal-link .img {
  width: 56px;
  height: 56px;
  border-radius: 16px;
  overflow: hidden;
}

.Personal-link .img img {
  width: 100%;
}

.Personal-link .text {
  text-align: right;
  width: fit-content;
  padding: 0 20px 0 0;
}

.Personal-link .text h3 {
  font-size: 16px;
  color: var(--text-color);
}

.Personal-link .text span {
  font-size: 14px;
  font-family: "IRANSansWeb_light";
  color: var(--text-color2);
}

.zoom {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1200px) {
  .content-modal {
    width: 60%;
  }
}

@media only screen and (max-width: 769px) {
  .content-modal {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .content-modal {
    padding: 10px 16px;
  }

  .Personal-link {
    padding: 8px;
  }

  .Personal-link .img {
    width: 48px;
    height: 48px;
  }

  .Personal-link .text h3 {
    font-size: 14px;
  }

  .Personal-link .text span {
    font-size: 12px;
  }
}
