/* slider */
.slider {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  margin: 72px 0;
}

.slide {
  direction: rtl;
}

.slide2 {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.slide .slide-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.div-btnslider {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.btn-next,
.btn-prev {
  position: relative;
  padding: 5px;
  margin-right: 32px;
  background-color: rgba(122, 122, 122, 0);
  border-radius: 25%;
  outline: none;
  border: solid 1px var(--text-color2);
  color: var(--text-color2) !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-next svg,
.btn-prev svg {
  width: 25px;
  height: 25px;
  color: var(--text-color2) !important;
}

.btn-next {
  left: 10px;
  color: var(--text-color2) !important;

}

.btn-prev {
  right: 10px;
  color: var(--text-color2) !important;

}


.dot {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.404);
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
}

.dot.active {
  animation-name: dot;
  animation-duration: 0.3s;
  background-color: var(--text-color2);
  width: 24px;
  height: 8px;
  border-radius: 30px;
}

@keyframes dot {
  from {
    background-color: rgba(255, 255, 255, 0.404);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  to {
    background-color: rgba(255, 255, 255, 0.993);
    width: 24px;
    height: 8px;
    border-radius: 30px;
  }
}

.p-slider {
  color: var(--text-color2);
  text-align: right;
}

.p-slider p {
  color: var(--text-color2);
  font-size: 19px;
  text-align: right;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1300px) {
  .slider {
    height: 320px;
  }

  .p-slider p {
    font-size: 15px;
  }

  .btn-next,
  .btn-prev {
    margin-right: 24px;
  }

  .btn-next svg,
  .btn-prev svg {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .slider {
    position: relative;
    width: 100%;
    height: 730px;
    border-radius: 15px;
    overflow: hidden;
  }

  .p-slider p {
    font-size: 18px;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .slider {
    height: 600px;
  }

  .p-slider p {
    font-size: 13px;
    padding-top: 24px;
  }
}

@media only screen and (max-width: 499px) {
  .slider {
    height: 520px;
  }

  .p-slider p {
    font-size: 13px;
    padding-top: 24px;
  }
}

@media only screen and (max-width: 413px) {
  .slider {
    height: 500px;
  }

  .p-slider p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 322px) {
  .slider {
    height: 460px;
  }

  .p-slider p {
    font-size: 11px;
  }
}
